<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vsStats update</title>
</head>
<body>
    <h1>vsStats File Update</h1>
    <h3>Overview: Merges records found in records.csv file into Direct Athletics stats performance csv file</h2>
    <h3>Final stats file contains SB,PB, tfrrs links and records with athlete data (tfrrs.csv)</h2>
    <h4>Copyright Alex Giarrocco,Vince Giarrocco, Jan 1, 2018</h4>
    <p>format of final csv file:</p>
    <p>tfrrsevent,Gender,Lname,Fname,Team,SB,PB,ListRank,tfrrs link,MR</p>
    <p>Note for relays: team name is placed in Fname and Team fields</p>
    <p>Note for schedule file: tfrrsevent field text must match schedule.csv file column L </p>

    <hr>
    <br>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li style="color:red">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
</body>
</html>